/* src/app/assignment/add-assignment/add-assignment.component.scss */

.example-full-width {
  width: 100%;
}

.main-content {
  padding: 20px;
}

.card-header-danger {
  background: #f44336;
  color: #fff;
}

.card {
  margin: 20px 0;
}

img {
  border-radius: 50%;
}
